<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day21task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveSevlet</display-name>
    <servlet-name>SaveSevlet</servlet-name>
    <servlet-class>com.src.SaveSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSevlet</servlet-name>
    <url-pattern>/SaveSevlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>edit</display-name>
    <servlet-name>edit</servlet-name>
    <servlet-class>com.src.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sss</display-name>
    <servlet-name>sss</servlet-name>
    <servlet-class>com.src.sss</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sss</servlet-name>
    <url-pattern>/sss</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.src.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet2</display-name>
    <servlet-name>EditServlet2</servlet-name>
    <servlet-class>com.src.edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet2</servlet-name>
    <url-pattern>/EditServlet2</url-pattern>
  </servlet-mapping>
</web-app>